.story-preview{
    padding: 10px;
    border-bottom: 1px solid $clr5;
    display: flex;
    flex-direction: column;
}
.story-preview .story-image{
    width: 480px;
    height: 480px;
    border-radius: 5px;
    border: 1px solid $clr5;
}
.story-preview .likes-bar {
    align-items: center;
    display: flex;
    gap: 5px;
    font-size:14px
}
.story-preview .likes-bar img {
    border-radius: 50%;
    height: 14px;
    object-fit: cover;
    width: 14px;
}
.story-preview .likes-bar a {
    color: $clr1;
    font-weight: 600;
}