.story-preview{
    padding: 10px;
    border-bottom: 1px solid $clr5;
    display: flex;
    flex-direction: column;
}
.story-preview img{
    width: 480px;
    height: 480px;
    border-radius: 5px;
    border: 1px solid $clr5;
}
