.story-list{
    display: flex;
    grid-template-columns: 57% 43%;
    // height: 100%;
    justify-content: center;
    // margin: 2.76rem auto;
}

// .story-list {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
//     margin-right: 64px;
// }
