.user-details  {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    width: 315px;
}
.user-details .main-user-info {
    align-items: center;
    display: flex;
    gap: 15px;
}
.user-details .main-user-info .main-user-img {
    border-radius: 50%;
    height: 44px;
    width: 44px;
    // object-fit: cover;
}
.user-details .main-user-details {
    display: flex;
    flex-direction: column;
    line-height: 16px
}
.user-details .main-user-details .comment{
    line-height: 16px;
    padding-inline-start: 5px;
    color: $clr1;
}
.user-details .main-user-details .under-user {
    color: $clr4-second-txt;
    font-size: 12px;
}
.user-details a.username {
    font-weight: 600;
    color: $clr1;
}
.user-details .main-user-action {
    color: $clr2;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
}