* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: $font-family;
    line-height: 1.6;
    color: $clr1;
}

body {
    // font-size: rem(18px);
    margin: 0;
    // max-width: 1024px;
    // margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family;
    // margin: 0 0 0.6em;
    line-height: 1;
}
ul li{
    list-style-type: none;
}
img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

.material-symbols-outlined { 
    font-variation-settings: 'FILL' 0, 'wght' 800, 'GRAD' 0, 'opsz' 58;
    font-size: 26px;
} 
.material-symbols-outlined.fill{ 
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48 ;
    font-size: 26px
} 
