.explore-index{
    // width: calc(100% - $sidebar-medium-width);
    display: grid;
    grid-template-columns: 316px 316px 316px;
    flex-wrap: wrap;
    gap:8px;
    // grid-template-columns: 60% 40%;
    height: 100%;
    // width: 80%;
    //justify-content: center;
    margin: 24px auto;
    // margin-inline-start: 100px;
    justify-content: center;
    width: 100%;
    justify-items: center;
}
.explore-index img{
    width: 316px;
    height: 316px;
    cursor: pointer;
}
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }