.profile-index{
    display: flex;
    // height: 100vh;
    justify-content: center;
    width: 100%;
}
.profile-index .profile-container{
    // height: 100vh;
    padding: 30px 0;
    width: 961px;
}
.profile-index .profile-container header{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    margin-bottom: 44px;
    margin-left: 50px;
    // height: 40vh;
    padding: 30px 0;
    width: 961px;
}
.profile-index .profile-container header .profile-img{
    margin-right: 30px;
    padding: 0 40px;
}
.profile-index .profile-container header img{
    border-radius: 50%;
    height: 150px;
    // object-fit: cover;
    width: 150px;
}

.profile-index .profile-container header .profile-details {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 15px;
    padding-right: 50px;
    width: 100%;
}
.profile-index .profile-container header .profile-details .profile-username  {
    align-items: center;
    display: flex;
    gap: 20px;
    span {
        font-size: 20px;
    }
    button {
        background:$clr6-post-separator;
        border: none;
        border-radius: 7px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        height: 32px;
        width: 105px;
        color: $clr1;
        font-family: $font-family
    }
    button:hover {
        background: $clr5;
    }
}

.profile-index .profile-container header .profile-details .profile-counters{
    display: flex;
    div{
        margin-right: 40px;
    }
    span{
        font-weight: 600;
    }
    a{
        cursor: pointer;
    }
}
.profile-index .profile-container header .profile-details .profile-more-details{
    div{
        font-size: 14px;
    }
    div.username{
        font-weight: 600;
       
    }
}
.profile-index .profile-container main{
    border-top: 1px solid $clr7;
    .profile-links {
        display: flex;
        gap: 50px;
        justify-content: center;
        text-transform: uppercase;
    }
    
    .profile-links .profile-pics-link {
        align-items: center;
        color: $clr7;
        cursor: pointer;
        display: flex;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 600;
        gap: 5px;
        height: 52px;
        justify-content: center;
        letter-spacing: 2px;
        line-height: 18px;
    }
    .profile-links .active {
        border-top: 1px solid $clr1;
        color: $clr1;
    }
    .profile-stories {
        display: grid;
        gap: 0px;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 961px;
        padding-bottom: 50px;
    }
    .profile-container .story {
        cursor: pointer;
        position: relative;
    }
    .profile-stories .story img {
        height: 308px;
        width: 308px;
        cursor: pointer;
        // position: absolute;
    }
}
