.story-index{
    // width: calc(100% - $sidebar-medium-width);
    // display: flex;
    // grid-template-columns: 60% 40%;
    // height: 100%;
    // justify-content: center;
    // margin: 2.76rem auto;
    // margin-left: 245px;
    // width: 100%;
    margin-left: 244px;
}
.container{
    display: flex;
        grid-template-columns: 57% 43%;
        height: 100%;
        justify-content: center;
        margin: 2.76rem auto;
        width: 100%;
        
}