// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

$clr1:#000000;
$clr2:#0095F6;
$clr3:#dbdbdb;

$gray1:#737373;
$gray2:#EFEFEF;
$gray3:#C7C7C7C7;

/*
$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;
*/

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

//fonts
$font-family: BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;

//width
$sidebar-medium-width:244px